<% provide(:button_text, t(:createmyaccount)) %>

<div class="row">
  <br>
  <br>
  <br>
  <div class="col-md-8">
    <br>
    <h1>Welcome to your Wine Cellar manager</h1>
    <h2>
      blah blah blah
    </h2>
    
  </div>

  <div class="col-md-4 jumbotron" >  
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: @user %>
    
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
    <br>
    <a href="<%= google_path %>" class="google btn btn-danger btn-block"> <span></span><%=t :loginwithgoogle %></a>
    <br>
    <%= link_to image_tag("google.png", alt: t(:loginwithgoogl)), google_path %>
  </div>

</div>